<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd"
        colors="true"
        convertNoticesToExceptions="false"
        convertDeprecationsToExceptions="false"
        bootstrap="bootstrap.php"
        forceCoversAnnotation="true"
        failOnRisky="true"
>
    <testsuite name="default">
        <directory>opt/doc</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">lib</directory>
            <exclude>
                <directory>lib/Mocks/Double</directory>
                <directory>lib/Traits/WordPressTests.php</directory>
                <file>lib/autoloader.php</file>
                <file>lib/bootstrap.php</file>
                <file>lib/functions.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="var/phpunit" lowUpperBound="50" highLowerBound="80" />
        <log type="coverage-text" target="php://stdout" showOnlySummary="true" />
    </logging>
</phpunit>
